/* HEADER */

.header {
  padding-top: 45px;
  display: flex;
  justify-content: center;

  &-title {
    font-size: 4.5rem;
    color: $steel;
    user-select: none;
    letter-spacing: 5px;
  }
}

/* MAIN */
.main {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  max-height: 100%;
}
.game-container {
  margin-top: 30px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  grid-column: 1/3;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.6s;
  background: linear-gradient(
    90deg,
    rgb(135, 206, 235) 0%,
    rgba(135, 206, 235, 0.8029586835) 20%,
    rgba(135, 206, 235, 0.6040791317) 40%,
    rgba(135, 206, 235, 0.4023984594) 60%,
    rgba(135, 206, 235, 0.1951155462) 100%
  );
}

.game-text {
  font-size: min(0.5rem + 1vw, 1.25rem);
  overflow: hidden;
  border-right: 0.4em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: blink-caret 0.7s step-end infinite;
  user-select: none;
}

.tip-wrapper {
  display: flex;
  justify-content: right;
  padding-bottom: 5px;
  grid-column: 2/3;
}

.tip-text {
  color: skyblue;
  font-size: min(0.5rem + 1vw, 1.7rem);
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
  user-select: none;
}

.tip-text.rival {
  color: $orange;
}

.gameboards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  max-width: 75rem;
}

.gameboard-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  max-width: 600px;
  border-radius: 0.5rem;
}

.gameboard {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  max-width: 600px;
  border-radius: 0.5rem;
  grid-column: 2/3;
}

.rival-grid {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 0) 0%,
    rgba(243, 166, 64, 0.1544992997) 60%,
    rgba(243, 166, 64, 0.2525385154) 85%,
    rgba(243, 166, 64, 0.3981967787) 100%
  );

  &::before {
    filter: invert(87%) sepia(18%) saturate(3703%) hue-rotate(325deg) brightness(96%) contrast(98%) !important;
  }
}

.player-grid {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 0) 15%,
    rgba(112, 205, 241, 0.1012780112) 60%,
    rgba(112, 205, 241, 0.249737395) 85%,
    rgba(112, 205, 241, 0.4037990196) 100%
  );
}
.grid {
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: grid;
  grid-gap: 0;
  grid-column: 2/3;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: min(calc(1rem + 1vw), 2.25rem);
    width: min(calc(1rem + 1vw), 2.25rem);
    border-radius: 100%;
    transform-origin: top left;
    background: url("../img/cross.svg") center / cover no-repeat;
    transform: rotate(45deg) translate(-50%, -50%);

    filter: invert(67%) sepia(88%) saturate(286%) hue-rotate(164deg) brightness(96%) contrast(97%);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: unset;
    top: -50%;
    left: -50%;
    margin: 0 auto;
    border-right: solid 0.0625rem #87cfeb50;
    width: 100%;
    height: 100%;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, $green);
    animation: sweep 3.5s infinite linear;
    pointer-events: none;
  }

  &-cell {
    position: relative;
    display: flex;
    border: 1px solid $transparent-white;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all 0.15s cubic-bezier(0.7, 0.03, 0.85, 0.43);
  }
}

.grid-cell:has(.shot-img.hit)::after {
  content: "";
  background-color: $opposite-alpha;
  box-shadow: 0 0 15px $opposite-alpha;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  opacity: 60%;
}

.grid-cell:has(.shot-img.hit)::before {
  position: absolute;
  content: "";
  border: 3px solid $opposite-alpha;
  box-shadow:
    inset 0 0 15px $opposite-alpha,
    0 0 15px $opposite-alpha;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  opacity: 60%;
  margin-left: auto;
  margin-right: auto;
}

.grid-cell:has(.shot-img.miss)::before {
  content: "";
  border: 3px solid $alpha;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  opacity: 70%;
  box-shadow:
    inset 0 0 15px $alpha,
    0 0 15px $alpha;
  margin-left: auto;
  margin-right: auto;
  filter: blur(1.5px);
}

.grid-cell:has(.shot-img.pulse)::before {
  animation: pulse 1s linear;
}

.rival-grid > .grid-cell {
  cursor: crosshair;

  &:hover {
    background-color: $green;
    transition: background-color, 0.6s;
  }
}

.rival-grid > .grid-cell:has(.shot-img) {
  cursor: not-allowed;

  &:hover {
    background-color: $red;
    transition: background-color, 0.6s;
  }
}

.number-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 0.5rem;
  font-weight: 500;
  grid-column: 1/2;
}

.number {
  font-size: min(0.2rem + 1.25vw, 0.85rem);
  user-select: none;
}

.letter-container {
  display: flex;
  grid-column: 2/3;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  margin-left: 0.55rem;
  font-weight: 500;
}

.letter {
  font-size: min(0.2rem + 1.25vw, 0.85rem);
  user-select: none;
}

.shot-img {
  position: absolute;
  height: 30%;
  user-select: none;
  pointer-events: none;
}

.hit {
  filter: invert(44%) sepia(86%) saturate(5393%) hue-rotate(344deg) brightness(100%) contrast(100%);
}

.battleship {
  background-color: rgb(1, 137, 53);
}

.cruiser {
  background-color: rgb(53, 77, 255);
}

.carrier {
  background-color: rgb(152, 147, 0);
}

.destroyer {
  background-color: rgb(0, 172, 166);
}

.submarine {
  background-color: rgb(147, 101, 40);
}

.random-button {
  border: 2px $white solid;
  background-color: $lighten-blue;
  border-radius: 6px;
  padding: 12px 32px;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.25s;

  &:hover {
    background: lighten($lighten-blue, 5%);
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px $white;
  }
}

.restart-btn {
  border: 2px $white solid;
  background-color: $lighten-blue;
  border-radius: 6px;
  padding: 12px 36px;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.25s;

  &:hover {
    background: lighten($lighten-blue, 5%);
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px $white;
  }
}

.winner {
  &-screen {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgb(20 66 114 / 70%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;

    &.hide {
      visibility: hidden;
    }
  }

  &-text {
    font-size: 2.5em;
  }
}

.winner-text.rival-text {
  color: $orange;
}

.winner-text.player-text {
  color: skyblue;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;

  &.hide {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}

.hide {
  display: none !important;
}
/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  gap: 10px;
  color: $white;
}

.nickname {
  font-size: 22px;
  color: $white;
  margin: 0px 5px;

  &:hover {
    color: $green;
  }
}

.github-icon {
  animation: blinking 5s infinite alternate;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 15px 2px $green;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 30rem) {
  .gameboards-container {
    gap: 0.5rem;
    grid-template-columns: 1fr;
  }

  .gameboard-container.friendly {
    width: 12.5rem;
    margin-right: auto;
  }
}

@media screen and (max-width: 48rem) {
  .gameboards-container {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
  }

  .gameboard-container {
    max-width: 25rem;
    grid-column: 1/3;
  }

  .gameboard-container.enemy {
    margin-left: auto;
  }

  .header-title {
    font-size: 2.5em;
  }

  .game-container {
    margin-top: 20px;
  }

  .tip-text {
    font-size: 1rem;
  }

  .text-container {
    padding: 0px;
    width: 90%;
  }
}

/* ANIMATIONS */

@keyframes blinking {
  from {
    fill: $black;
  }
  to {
    fill: $white;
    box-shadow: 0 0 15px 5px $white;
  }
}

@keyframes sweep {
  to {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $secondary;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(3);
  }

  50% {
    transform: scale(1);
  }
  90% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
  }
}
