/* HEADER */

.header {
  padding-top: 45px;
  display: flex;
  justify-content: center;

  &-title {
    font-size: 4.5rem;
    color: $steel;
    user-select: none;
  }
}

/* MAIN */

.game-container {
  margin-top: 80px;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gameboards-container {
  display: flex;
  gap: 150px;
}

.grid {
  display: grid;
  background-color: #0b043c;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  width: 30rem;
  height: 30rem;

  &-cell {
    display: flex;
    border: 1px solid $white;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}

.rival-grid > .grid-cell {
  cursor: crosshair;

  &:hover {
    background-color: $green;
    transition: background-color, 0.6s;
  }
}

.player-grid {
}

.grid-cell:has(.shot-img) {
  cursor: not-allowed;

  &:hover {
    background-color: $red;
    transition: background-color, 0.6s;
  }
}

.shot-img {
  height: 30%;
  width: 30%;
  user-select: none;
  pointer-events: none;
}

.miss {
}

.hit {
  filter: invert(31%) sepia(100%) saturate(3971%) hue-rotate(345deg) brightness(100%) contrast(96%);
}

.ship-tile {
}

.battleship {
  background-color: pink;
}

.boat {
  background-color: aqua;
}

.carrier {
  background-color: blueviolet;
}

.destroyer {
  background-color: yellow;
}

.submarine {
  background-color: burlywood;
}

.random-button {
  border: 2px $white solid;
  background-color: $lighten-blue;
  border-radius: 6px;
  padding: 12px 36px;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.25s;

  &:hover {
    background: lighten($lighten-blue, 5%);
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px $white;
  }
}
/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  gap: 10px;
  color: $white;
}

.nickname {
  font-size: 22px;
  color: $white;
  margin: 0px 5px;

  &:hover {
    color: $white;
  }
}

.github-icon {
  animation: blinking 5s infinite alternate;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 15px 2px $white;
  }
}

/* MEDIA QUERIES */

/* ANIMATIONS */

@keyframes blinking {
  from {
    fill: $black;
  }
  to {
    fill: $white;
    box-shadow: 0 0 15px 5px $white;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
