/* HEADER */

.header {
  padding-top: 45px;
  display: flex;
  justify-content: center;

  &-title {
    font-size: 4.5rem;
    color: $steel;
    user-select: none;
  }
}

/* MAIN */

.game-container {
  margin-top: 80px;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.text-container {
  display: flex;
  width: 50%;
  padding: 5px;
  border: 2px solid $steel;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgb(55, 55, 55) 0%,
    rgb(41, 41, 41) 29%,
    rgb(41, 41, 41) 76%,
    rgb(56, 56, 56) 100%
  );
}

.game-text {
  margin: auto;
  font-size: 2.2rem;
}

.tip-wrapper {
  display: flex;
  justify-content: right;
  padding-bottom: 5px;
}

.tip-text {
  color: skyblue;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.tip-text.rival {
  color: $orange;
}

.gameboards-container {
  display: flex;
  gap: 150px;
}

.gameboard-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 12px;
}

.gameboard {
  display: flex;
}

.rival-grid {
  background: radial-gradient(
    circle,
    rgba(9, 36, 75, 0) 0%,
    rgba(243, 166, 64, 0.1544992997) 20%,
    rgba(243, 166, 64, 0.2525385154) 85%,
    rgba(243, 166, 64, 0.3981967787) 100%
  );

  &::before {
    filter: invert(87%) sepia(18%) saturate(3703%) hue-rotate(325deg) brightness(96%) contrast(98%) !important;
  }
}

.player-grid {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 0) 0%,
    rgba(112, 205, 241, 0.1012780112) 20%,
    rgba(112, 205, 241, 0.249737395) 80%,
    rgba(112, 205, 241, 0.4037990196) 100%
  );
}
.grid {
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  width: 30rem;
  height: 30rem;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: min(calc(1rem + 1vw), 2.25rem);
    width: min(calc(1rem + 1vw), 2.25rem);
    border-radius: 100%;
    transform-origin: top left;
    background: url("../img/cross.svg") center / cover no-repeat;
    transform: rotate(45deg) translate(-50%, -50%);

    filter: invert(67%) sepia(88%) saturate(286%) hue-rotate(164deg) brightness(96%) contrast(97%);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: unset;
    top: -50%;
    left: -50%;
    margin: 0 auto;
    border-right: solid 0.0625rem #87cfeb50;
    width: 100%;
    height: 100%;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, $green);
    animation: sweep 3.5s infinite linear;
    pointer-events: none;
  }

  &-cell {
    display: flex;
    border: 1px solid $transparent-white;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}

.rival-grid > .grid-cell {
  cursor: crosshair;

  &:hover {
    background-color: $green;
    transition: background-color, 0.6s;
  }
}

.rival-grid > .grid-cell:has(.shot-img) {
  cursor: not-allowed;

  &:hover {
    background-color: $red;
    transition: background-color, 0.6s;
  }
}

.number-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 0.5rem;
  font-weight: 500;
}

.number {
  font-size: 1rem;
}

.letter-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  margin-left: 0.55rem;
  font-weight: 500;
}

.letter {
  font-size: 1rem;
}

.shot-img {
  height: 30%;
  user-select: none;
  pointer-events: none;
}

.hit {
  filter: invert(44%) sepia(86%) saturate(5393%) hue-rotate(344deg) brightness(100%) contrast(100%);
}

.battleship {
  background-color: pink;
}

.boat {
  background-color: aqua;
}

.carrier {
  background-color: blueviolet;
}

.destroyer {
  background-color: yellow;
}

.submarine {
  background-color: burlywood;
}

.random-button {
  border: 2px $white solid;
  background-color: $lighten-blue;
  border-radius: 6px;
  padding: 12px 32px;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.25s;

  &:hover {
    background: lighten($lighten-blue, 5%);
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px $white;
  }
}

.restart-btn {
  border: 2px $white solid;
  background-color: $lighten-blue;
  border-radius: 6px;
  padding: 12px 36px;
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.25s;

  &:hover {
    background: lighten($lighten-blue, 5%);
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px $white;
  }
}

.winner {
  &-screen {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    background: $transparent-white;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;

    &.hide {
      visibility: hidden;
    }
  }

  &-text {
    font-size: 2.5em;
  }
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;

  &.hide {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  gap: 10px;
  color: $white;
}

.nickname {
  font-size: 22px;
  color: $white;
  margin: 0px 5px;

  &:hover {
    color: $green;
  }
}

.github-icon {
  animation: blinking 5s infinite alternate;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 15px 2px $green;
  }
}

/* MEDIA QUERIES */

/* ANIMATIONS */

@keyframes blinking {
  from {
    fill: $black;
  }
  to {
    fill: $white;
    box-shadow: 0 0 15px 5px $white;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sweep {
  to {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}
