$primary: #0a2647;
$secondary: #144272;
$lighten-blue: #2c74b3;
$darken-blue: #205295;
$green: #36ff2f99;
$red: #ff2f2f99;
$orange: #f3a640;
$steel: #b3bfc5;
$grey: #6b6e70;
$white: #fff;
$black: #000;
$transparent-white: #ffffff80;
