$primary: #0a2647;
$secondary: #144272;
$lighten-blue: #2c74b3;
$darken-blue: #205295;
$green: rgba(54, 255, 47, 0.3);
$red: rgba(255, 47, 47, 0.3);
$orange: #f3a640;
$steel: #b3bfc5;
$grey: #6b6e70;
$white: #fff;
$black: #000;
$transparent-white: #ffffff80;
$opposite-alpha: hsla(300, 100%, 50%, 0.5);
$alpha: hsla(120, 100%, 50%, 0.5);
