html {
  position: relative;
  background: $primary;
}

body {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(0, 0, 83) 25%, rgb(0, 0, 83) 75%, rgb(2, 0, 38) 100%);
  min-height: 100vh;
  color: $white;
  place-items: center;
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
fieldset,
select {
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
  color: $white;
}

a {
  color: $white;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: $white;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s;
}
